<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">Flip-Table</a>



        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('site') }}">accueil </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('security_profil')  }}">Profil</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('site_create') }}" class="nav-link">creation de partie</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">carte des parties</a>
            </li>
            {% if not app.user  %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
            <li class="nav-item">
            <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
        </li>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ path('security_logout') }}"class="nav-link">deconnexion</a>
            </li>
            {% endif %}
        </ul>

</nav>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
