
{% extends 'base.html.twig' %}


{% block body %}
    <br><div class="container ">
<div class="row fixed-wrapper ">

    {% for jeu in jeux %}



            <div class="col-md-4">

            <div class="card">

                <h2>{{ jeu.title }}</h2>
                {% if app.user.id==jeu.user.id %}

                    <i class="fas fa-user-graduate">votre partie</i>
                    <br>

                {% endif %}


                <img src="{{ jeu.image }}" alt="#">
                <div class="metadata">partie prévu pour  {{ jeu.createdAt | date ('d/m/Y')  }} à {{ jeu.createdAt | date('H:i') }}  {{ jeu.category.title}} </div>
                    <p>{{jeu.category.description }}</p>
                <a href="{{path('site_show',{"id":jeu.id})}}"class="btn  btn-warning">voir la suite</a>
            </div>
            </div>




    {% endfor %}

    </div>
    </div>
{% endblock %}
