
{% extends 'base.html.twig' %}


{% block body %}

    {% for jeu in jeux %}


        <div class="card middle">
            <div class="front">
                <h2>{{ jeu.title }}</h2>
                <img src="{{ jeu.image }}" alt="">
                <div class="metadata">poster le {{ jeu.createdAt | date ('d/m/Y')  }} à {{ jeu.createdAt | date('H:i') }}  {{ jeu.category.title}} </div>
           </div>
            <div class="back">
                <div class="back-content middle ">
                {{ jeu.description | raw }}
                <a href="{{path('site_show',{"id":jeu.id})}}"class="btn  btn-warning">voir la suite</a>
                </div>
            </div>
        </div>
        <div class="content">




        </div>

        <hr style="background-color: #ffa500">
    {% endfor %}
{% endblock %}
