
{% extends 'base.html.twig' %}
{% block title %}Flip-table{% endblock %}

{% block body %}

    {% for jeu in jeux %}
<div class="content">

    <h2>{{ jeu.title }}</h2>
 <div class="metadata">poster le {{ jeu.createdAt | date ('d/m/Y')  }} à {{ jeu.createdAt | date('H:i') }}  {{ jeu.category.title}} </div>
    <img src="{{ jeu.image }}" alt="">

{{ jeu.description | raw }}
    <a href="{{path('site_show',{"id":jeu.id})}}"class="btn  btn-primary">voir la suite</a>
</div>
    {% endfor %}
{% endblock %}
