{% extends'base.html.twig' %}

{% block body %}
    <h2>{{ jeu.title }}</h2>

    <div class="metadata">ecrit le {{ jeu.createdAt | date ('d/m/Y')  }}  à {{ jeu.createdAt | date ('H:i') }} dans le theme {{ jeu.category.title }}</div>
    <p>lieu de l'évenement:  {{ jeu.ville }}</p>
        <p>le {{ jeu.createdAt }}</p>
    <div class="content"></div>
    <hr>
    <img src="{{ jeu.image }}" alt="">
    {{ jeu.description | raw }}

    <section id="commentaires">
        <h1>{{ jeu.comments| length }} Commentaires:</h1>
        <hr style="background: #ee2d4d">
        {%  for comment in jeu.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.auteur }}(<small> {{ comment.createdAt| date('d/m/Y à H:i') }}</small>)
                </div>
                <div class="col">
                   {{ comment.content| raw }}
                </div>
            </div>
        </div>
         <hr style="background-color: #ee2d4d">
     {% endfor %}

        {{ form_start(commentForm) }}
        {{ form_row(commentForm.auteur,{'attr':{'placeholder':"votre pseudo"}})}}
        {{ form_row(commentForm.content,{'attr':{'placeholder':"votre commentaire"}}) }}
        <button type="submit" class="btn btn-warning">envoyer</button>
        {{ form_end(commentForm) }}
    </section>
{% endblock %}