{% extends'base.html.twig' %}

{% block body %}
    <h2>{{ jeu.title }}</h2>
    <div class="metadata">partie prévu pour le  {{ jeu.createdAt | date ('d/m/Y')  }}  à {{ jeu.createdAt | date ('H:i') }} dans le theme {{ jeu.category.title }}
        </div>


    <p>lieu de l'évenement:  {{ jeu.ville }}</p>
    <p>crée par: {{jeu.user.username  }}</p>
    {{ jeu.description | raw }}
    <div class="content">
        <img src="{{ jeu.image }}" alt=""> <br><br><a href="{{ path('jeux_like',{'id':jeu.id}) }}" class="btn btn-primary js-like">
            {% if app.user and jeu.isLikeByUser(app.user) %}
                <i class="fab fa-wizards-of-the-coast"></i>


            {% else %}
                <i class="far fa-thumbs-up"></i>
            {% endif %}
            <span class="js-likes">{{ jeu.likes| length }}</span>
            <span class="js-label">J'aime</span>
        </a>

    </div>




    <hr>



    {% if is_granted('ROLE_ADMIN')  %}
        <a href="{{path('site_delete',{'id':jeu.id})}}" class="btn btn-primary">supprimer un Jeu</a>
        <a href="{{ path('site_edit',{'id':jeu.id}) }}" class="btn btn-primary ">editer</a>
        </div>
    {% endif %}
    <article id="commentaires">
        <h1>{{ jeu.comments| length }} Commentaires:</h1>
        <hr>
        {%  for comment in jeu.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                  {{comment.user }}
                    (<small> {{ comment.createdAt| date('d/m/Y à H:i') }}</small>)

                </div>
                <div class="col">
                   {{ comment.content| raw }}
                    {% dump(comment.content) %}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                {{ include('site/commdelete.html.twig') }}
                {% endif %}
            </div>
        </div>
         <hr>
     {% endfor %}
        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content,{"label":"commentaire",'attr':{'placeholder':"votre commentaire"}}) }}
        <button type="submit" class="btn btn-danger">envoyer</button>
        {{ form_end(commentForm) }}
        {% else %}
        <h2>connecte toi </h2>
        <a href="{{ path('security_login') }}" class="btn btn-danger">connexion</a>
        {% endif %}
    </article>


{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event){
            event.preventDefault();

            const url= this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone=this.querySelector('i');


            axios.get(url).then(function (response) {
            spanCount.textContent= response.data.likes;
            if (icone.classList.contains('fas')) {
                icone.classList.replace('fas', 'far');
            }else {
                icone.classList.replace('far', 'fas');
            }
            });
                }

     document.querySelectorAll('a.js-like').forEach(function (link) {
         link.addEventListener('click',onClickBtnLike);
     })

    </script>



{% endblock %}